aiogram==3.7.0
sqlalchemy[asyncio]==2.0.30
asyncpg==0.29.0
alembic==1.13.1
pydantic-settings==2.2.1
celery==5.3.6
redis==5.0.4
rapidfuzz==3.9.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
telethon==1.36.0
cryptg==0.4.0
